@model Spice.Models.MenuItem

<div class="border border-info rounded" style="margin: 10px 0 10px 0; padding:10px;">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <img src="@Model.ImagePath" width="99%" style="border-radius: 5px; border: 1px solid #bbb9b9;" />
        </div>
        <div class=" col-sm-12 col-md-9">
            <div class="row pr-3">
                <div class="col-8">
                    <label class="text-primary" style="font-size:21px;">@Model.Name</label>
                    @if (!string.IsNullOrWhiteSpace(Model.Spicyness) && int.TryParse(Model.Spicyness, out int spicyness))
                    {
                        if (spicyness == 1)
                        {
                            <img srcset="/images/mild.png" title="Mild" />
                        }
                        if (spicyness == 2)
                        {
                            <img srcset="/images/spicy.png" title="Spicy" />
                        }
                        if (spicyness == 3)
                        {
                            <img srcset="/images/verySpicy.png" title="Very Spicy" />
                        }
                    }
                </div>
                <div class="col-4 text-right" style="color:maroon">
                    <h4>$ @Model.Price</h4>
                </div>
            </div>
            <div class="row col-12 text-justify d-none d-md-block">
                <p>@Html.Raw(Model.Description)</p>
            </div>
            <div class="col-12 col-md-3 offset-md-9 text-center">
                <a asp-action="Details" class="btn btn-success form-control" asp-route-id="@Model.Id">Details</a>
            </div>
        </div>
    </div>
</div>